In [2331]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [2332]:
def print_nan_cols(df, moderate_only = False):
    values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
    filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
    contains_nan = [y for x, y in filtered]
    proportion_nan = [sum(df[x].isnull()) / len(df[x]) for x, y in contains_nan]
    proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
    for col, propo_nan in proportion_nan:
        if abs(propo_nan) > 0.3 or moderate_only is False:
            print(col, ': ', propo_nan)
            
print_nan_cols(df, moderate_only=True)

Alley :  0.9376712328767123
FireplaceQu :  0.4726027397260274
PoolQC :  0.9952054794520548
Fence :  0.8075342465753425
MiscFeature :  0.963013698630137

In [2333]:
def print_moderate_correlations(df, col_to_correlate):
    cols = df[df.columns].corr().columns
    corrs = df[df.columns].corr()[col_to_correlate]
    for col, corr in zip(cols, corrs):
        if abs(corr) > 0.4 and col != col_to_correlate:
            print(col, ': ', corr)

In [2334]:
df['Alley'] = df['Alley'].astype("category").cat.codes
print_moderate_correlations(df, 'Alley')

In [2335]:
df['PoolQC'] = df['PoolQC'].astype("category").cat.codes
print_moderate_correlations(df, 'PoolQC')

PoolArea :  0.9384016221033975

In [2336]:
df[df['MiscFeature'] != np.nan].head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,-1,Reg,Lvl,AllPub,...,0,-1,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,-1,Reg,Lvl,AllPub,...,0,-1,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,-1,IR1,Lvl,AllPub,...,0,-1,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,-1,IR1,Lvl,AllPub,...,0,-1,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,-1,IR1,Lvl,AllPub,...,0,-1,NaN,NaN,0,12,2008,WD,Normal,250000

In [2337]:
df['MiscFeature'] = df['MiscFeature'].astype("category").cat.codes
print_moderate_correlations(df, 'MiscFeature')

In [2338]:
df['FireplaceQu'] = df['FireplaceQu'].astype("category").cat.codes
print_moderate_correlations(df, 'FireplaceQu')

GrLivArea :  0.4023950752243185
Fireplaces :  0.8240585192022061

In [2339]:
df['Fence'] = df['Fence'].astype("category").cat.codes
print_moderate_correlations(df, 'Fence')

In [2340]:
df = df.drop(columns=['Alley', 'Fence'])
df = df * 1

In [2341]:
print_nan_cols(df)

LotFrontage :  0.1773972602739726
MasVnrType :  0.005479452054794521
MasVnrArea :  0.005479452054794521
BsmtQual :  0.025342465753424658
BsmtCond :  0.025342465753424658
BsmtExposure :  0.026027397260273973
BsmtFinType1 :  0.025342465753424658
BsmtFinType2 :  0.026027397260273973
Electrical :  0.0006849315068493151
GarageType :  0.05547945205479452
GarageYrBlt :  0.05547945205479452
GarageFinish :  0.05547945205479452
GarageQual :  0.05547945205479452
GarageCond :  0.05547945205479452

In [2342]:
print_moderate_correlations(df, 'LotFrontage')

LotArea :  0.4260950187718087
1stFlrSF :  0.4571810019946558
GrLivArea :  0.40279741408532066

In [2343]:
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [2344]:
predict_missing_df = df

for column, value  in contains_nan:
    predict_missing_df = predict_missing_df.drop(columns=[column])

In [2345]:
def convert_categorical_to_numbers(to_change_df):
    for col, dtype in zip(to_change_df.columns, to_change_df.dtypes):
        if (dtype == object):
            to_change_df[col] = to_change_df[col].astype('category')
    return pd.get_dummies(to_change_df)

In [2346]:
predict_missing_df = convert_categorical_to_numbers(predict_missing_df)

In [2347]:
predict_missing_df.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,978,0,284,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,655,0,490,...,0,0,0,1,0,0,0,0,1,0

In [2348]:
from sklearn.model_selection import train_test_split

predict_missing_df['LotFrontage'] = df['LotFrontage']
adjusted_missing = predict_missing_df[predict_missing_df['LotFrontage'].isnull() == False]

y = adjusted_missing['LotFrontage'].values
x = adjusted_missing.drop(columns=['LotFrontage']).values

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

rf_regr = RandomForestRegressor(n_estimators=300, min_samples_leaf=5, random_state=42)
rf_regr.fit(x_train, y_train)


r2 = r2_score(y_test, rf_regr.predict(x_test))
mse = mean_squared_error(y_test, rf_regr.predict(x_test))
rmse = mse**(1/2)
print('R2          : ', round(r2, 4))
print('RMSE        : ', round(rmse, 0))

R2          :  0.6017
RMSE        :  14.0

In [2349]:
missing_df = predict_missing_df[predict_missing_df['LotFrontage'].isnull()]
x_missing = missing_df.drop(columns=['LotFrontage']).values
predictions = rf_regr.predict(x_missing).astype(int)

df.loc[df['LotFrontage'].isnull(), 'LotFrontage'] = predictions

In [2350]:
sum(df['MasVnrArea'].isnull() / len(df['MasVnrArea']))

0.00547945205479452

In [2351]:
df['MasVnrArea'] = df['MasVnrArea'].fillna(df['MasVnrArea'].mode()[0])

In [2352]:
sum(df['GarageYrBlt'].isnull() / len(df['GarageYrBlt']))

0.05547945205479444

In [2353]:
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(df['GarageYrBlt'].mode()[0])

In [2354]:
df = df * 1